/*------- fonts -------*/

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;900&display=swap");

/*------- end of fonts -------*/

@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/colors";
@import "./partials/components/navbar";

html,
body,
#root,
.App {
  @include fullDimensions;
  max-width: 100vw;
  max-height: 100vh;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.8;
  font-weight: lighter;
  background-color: $maze-dark;
  color: $maze-light;
}

.pageContainer {
  @include fullDimensions;
  margin-top: 4.5rem;
  padding: 0;
}

.pageContainer > .row {
  width: 100%;
  justify-content: center;
  margin: 0;
}

h1 {
  color: $maze-mintgreen !important;
  font-weight: bold !important;
}

h2,
h3,
h4,
h5,
h6 {
  color: $maze-darkgreen !important;
}

.sectionContainer {
  padding: 10px 20px;
  border-bottom: solid 1px $maze-darkgreen;
}

.footerContainer {
  font-size: 14px;
  padding: 1rem;
  padding: 10px 20px;
}

.mazelink {
  @include myLink;
}

.mazelink:hover {
  text-decoration: underline;
  cursor: pointer;
}

.btnWhite {
  @include myBtn;
  background-color: $maze-light;
  border-color: $maze-darkgreen;
  color: $maze-darkgreen;
}
.btnWhite:hover {
  @include myBtn;
  background-color: $maze-dark;
  border-color: $maze-mintgreen;
  color: $maze-mintgreen;
}

.btnGreenDark {
  @include myBtn;
  background-color: $maze-darkgreen;
  border: none;
  color: $maze-light;
}
.btnGreenDark:hover {
  @include myBtn;
  background-color: $maze-mintgreen;
  border: none;
  color: $maze-dark;
}

.btnGreenLight {
  @include myBtn;
  background-color: $maze-mintgreen;
  border-color: $maze-dark;
  color: $maze-dark;
}
.btnGreenLight:hover {
  @include myBtn;
  background-color: $maze-darkgreen;
  border-color: $maze-light;
  color: $maze-light;
}

.btnDark {
  @include myBtn;
  background-color: $maze-dark;
  border-color: $maze-mintgreen;
  color: $maze-mintgreen;
}
.btnDark:hover {
  @include myBtn;
  background-color: $maze-light;
  border-color: $maze-mintgreen;
  color: $maze-mintgreen;
}

.textCutter {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
