/*------- fonts -------*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;900&display=swap");
/*------- end of fonts -------*/
.mazeNavbar {
  width: 100%;
  height: 4rem;
  padding: 0;
  padding-top: 1rem;
  z-index: 1000;
  background-color: #1c2627;
  color: #8cf5c9;
}
.mazeNavbar .container-fluid {
  height: 100%;
  width: 100%;
}
.mazeNavbar .container-fluid .row {
  height: 100%;
  width: 100%;
  margin: 0;
}
.mazeNavbar .container-fluid .row .col:last-child {
  padding-top: 8px;
  margin-left: auto;
}
.mazeNavbar #maze-nav {
  background-color: #1c2627;
  width: -moz-min-content !important;
  width: min-content !important;
  display: flex;
  justify-content: end;
}
.mazeNavbar #maze-nav .navbar-nav {
  text-align: end;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px 30px !important;
}
.mazeNavbar .bi-list {
  color: #8cf5c9;
}

.navToggle.navbar-toggler .navbar-toggler-icon {
  color: #8cf5c9;
  width: 24px;
  height: 24px;
}

.navUnderline {
  width: 50%;
  height: 3px;
  color: #8cf5c9;
}

.nav-link {
  color: #8cf5c9 !important;
}

.nav-link:hover {
  color: #04b597 !important;
}

.navbarLogo {
  height: 3rem;
}

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  max-width: 100vw;
  max-height: 100vh;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.8;
  font-weight: normal;
  background-color: #1c2627;
  color: #faf0f0;
}

.pageContainer {
  height: 100%;
  width: 100%;
  padding: 0;
}

.pageContainer > .row {
  width: 100%;
  justify-content: center;
  margin: 0;
}

.sectionContainer {
  padding: 10px 20px;
  border-bottom: solid 1px #04b597;
}

.footerContainer {
  font-size: 14px;
  padding: 1rem;
  padding: 10px 20px;
}

.mazelink {
  text-decoration: none;
  color: #04b597;
  padding: 0;
}

.mazelink:hover {
  text-decoration: underline;
  cursor: pointer;
}

.btnWhite {
  border: 2px solid;
  padding: 3px 10px;
  margin: 5px;
  font-weight: 600;
  cursor: pointer;
  background-color: #faf0f0;
  border-color: #04b597;
  color: #04b597;
}

.btnWhite:hover {
  border: 2px solid;
  padding: 3px 10px;
  margin: 5px;
  font-weight: 600;
  cursor: pointer;
  background-color: #1c2627;
  border-color: #8cf5c9;
  color: #8cf5c9;
}

.btnGreenDark {
  border: 2px solid;
  padding: 3px 10px;
  margin: 5px;
  font-weight: 600;
  cursor: pointer;
  background-color: #04b597;
  border: none;
  color: #faf0f0;
}

.btnGreenDark:hover {
  border: 2px solid;
  padding: 3px 10px;
  margin: 5px;
  font-weight: 600;
  cursor: pointer;
  background-color: #8cf5c9;
  border: none;
  color: #1c2627;
}

.btnGreenLight {
  border: 2px solid;
  padding: 3px 10px;
  margin: 5px;
  font-weight: 600;
  cursor: pointer;
  background-color: #8cf5c9;
  border-color: #1c2627;
  color: #1c2627;
}

.btnGreenLight:hover {
  border: 2px solid;
  padding: 3px 10px;
  margin: 5px;
  font-weight: 600;
  cursor: pointer;
  background-color: #04b597;
  border-color: #faf0f0;
  color: #faf0f0;
}

.btnDark {
  border: 2px solid;
  padding: 3px 10px;
  margin: 5px;
  font-weight: 600;
  cursor: pointer;
  background-color: #1c2627;
  border-color: #8cf5c9;
  color: #8cf5c9;
}

.btnDark:hover {
  border: 2px solid;
  padding: 3px 10px;
  margin: 5px;
  font-weight: 600;
  cursor: pointer;
  background-color: #faf0f0;
  border-color: #8cf5c9;
  color: #8cf5c9;
}

.textCutter {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.searchForm {
  display: flex;
  align-items: center;
}
.searchForm input {
  background-color: #025144;
  border: 1px solid #8cf5c9;
  color: #8cf5c9;
}
.searchForm input::-moz-placeholder {
  color: #8cf5c9;
}
.searchForm input::placeholder {
  color: #8cf5c9;
}
.searchForm input:focus {
  background-color: #8cf5c9;
  color: #1c2627;
  border: none;
}
.searchForm .bi {
  font-size: 20px;
  margin-right: 10px;
}/*# sourceMappingURL=style.css.map */