.pageContainer.authContainer {
  padding-top: 2rem !important;
  .mazelink {
    color: $maze-darkgreen !important;
  }
}

.authContainer > .row > .col-6 {
  height: 14rem !important;
}

.authColumn {
  color: $maze-dark;
  z-index: 1;
}

.authForm {
  width: 90%;
  margin: auto;
  text-align: start;
  input,
  select,
  textarea {
    border: 1px solid $maze-darkgreen !important;
    color: $maze-dark !important;
    border-radius: 0 !important;
  }
  input::placeholder,
  select {
    color: $maze-darkgreen !important;
  }
  input:focus {
    background-color: $maze-darkgreen !important;
    border: none;
  }
  label {
    font-weight: 400;
    margin-bottom: 0.2rem;
    margin-top: 1rem;
  }
}

#loginBackground {
  position: fixed;
  top: 4.2rem;
  right: 0;
  bottom: 0;
  background-color: $maze-mintgreen;
}

@media screen and (min-width: 768px) {
  #loginBackground {
    width: 50%;
  }
}
