.pageContainer.authContainer {
  padding-top: 2rem !important;
  background-image: url(./../../../../public/maze.svg);
  .mazelink {
    color: $maze-darkgreen !important;
  }
}

.authContainer > .row > .col-6 {
  height: 14rem !important;
  text-align: center;
  .welcome {
    position: absolute;
    background-color: $maze-dark;
    min-height: 15rem;
    max-height: 25rem;
    padding: 2rem;
    top: 20%;
    right: 60%;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h3 {
      margin: 2rem 0;
      border-bottom: 1px solid $maze-darkgreen;
    }
  }
}

.authColumn {
  color: $maze-dark;
  z-index: 1;
}

.authForm {
  width: 90%;
  margin: auto;
  text-align: start;
  input,
  select,
  textarea {
    border: 1px solid $maze-darkgreen !important;
    color: $maze-dark !important;
    border-radius: 0 !important;
  }
  input::placeholder,
  select {
    color: $maze-darkgreen !important;
  }
  input:focus {
    background-color: $maze-darkgreen !important;
    border: none;
  }
  label {
    font-weight: 400;
    margin-bottom: 0.2rem;
    margin-top: 1rem;
  }
}

#loginBackground {
  position: fixed;
  top: 4.2rem;
  right: 0;
  bottom: 0;
  background-color: $maze-mintgreen;
}

@media screen and (min-width: 768px) {
  #loginBackground {
    width: 50%;
  }
}
