.mirror {
  width: 100%;
  background: linear-gradient(
    180deg,
    darken($maze-mintgreen, 10) 0%,
    $maze-mintgreen 50%
  );
  border-radius: 0.5rem;
  color: $maze-dark;
  text-align: center;
  padding: 1.5rem 0.5rem !important;
  img {
    padding: 0;
    aspect-ratio: 1/1;
    border-radius: 1rem;
    width: 100%;
    max-width: 100px;
    min-width: 90px;
    border: 1px solid $maze-dark;
  }
  h2 {
    font-size: 40px;
  }
  .separator {
    width: 80%;
    height: 1px;
    margin: auto;
    background-color: $maze-darkgreen;
  }
}

.feedCol {
  width: 100%;
  margin: 0 auto !important;
  padding: 0 !important;
  .feedRow {
    width: 100%;
    margin: auto;
    .sectionContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      padding: 0;
    }
  }
  .dropdown {
    text-align: end;
    .dropdown-toggle::after {
      display: none !important;
    }
    .postEditMenu {
      background-color: $maze-dark !important;
      text-align: end;
      a {
        color: $maze-mintgreen !important;
      }
      a:hover {
        color: $maze-darkgreen !important;
        background-color: $maze-light;
      }
      border: none;
      font-size: 18px;
    }
  }
}

.postContainer {
  width: 95%;
  border-radius: 0.5rem;
  max-width: 600px;
  background: rgb(4, 181, 151);
  background: linear-gradient(
    180deg,
    $maze-darkgreen 40%,
    darken($maze-darkgreen, 10) 90%
  );
  margin-bottom: 1rem;
  padding: 1rem;
  color: $maze-dark;
  overflow: hidden;
}

.postProfile {
  display: flex;
  align-items: center;
  .postProfileDetails {
    margin-left: 1rem;
    p {
      margin: 0;
      font-size: 10.5px;
      color: $maze-dark;
      font-weight: 400;
    }
    p.stagename {
      font-weight: 700;
      color: $maze-dark;
      font-size: 21px;
    }
  }
  .postProfileImage {
    aspect-ratio: 1/1;
    border-radius: 1rem;
    width: 100%;
    max-width: 70px;
    min-width: 60px;
  }
}

.postCaption {
  overflow: hidden;
  line-height: normal;
  width: 100%;
  font-weight: 400;
  margin-top: 1rem !important;
  .expanded {
    max-height: none;
  }
  .collapsed {
    width: 90%;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  span {
    font-size: 12px;
    font-weight: 600;
  }
}

.postCollection {
  font-size: 16px;
  margin-top: 1rem !important;
  color: $maze-dark;
  .collectionDisplayer {
    margin: 0 1rem;
    h4 {
      color: $maze-dark !important;
      font-weight: 600;
      font-size: 25px;
    }
    .postCollectionImg {
      margin: 0;
      padding: 0;
      a {
        width: 100%;
      }
      img {
        max-width: 10rem;
        width: inherit;
        min-width: 8rem;
        border: 2px solid $maze-dark;
        margin-left: auto !important;
      }
    }
  }
}
