.mazeNavbar {
  width: 100%;
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  padding-top: 1rem;
  z-index: 1000;
  background-color: $maze-dark;
  color: $maze-mintgreen;
  .container-fluid {
    @include fullDimensions;
    max-width: 1460px;
    .row {
      @include fullDimensions;
      margin: 0;
      .col:last-child {
        margin-left: auto;
      }
    }
  }
  #maze-nav {
    background-color: $maze-dark !important;
    width: min-content !important;
    position: absolute;
    right: 0;
    top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
    width: fit-content;
    margin: 10px 15px !important;
    a {
      margin-right: 5px;
    }
  }
  .bi-list {
    color: $maze-mintgreen;
    font-size: 30px !important;
    margin-left: 10px;
  }
}

.navToggle.navbar-toggler {
  .navbar-toggler-icon {
    color: $maze-mintgreen;
    width: 24px;
    height: 24px;
  }
}

.navUnderline {
  width: 75%;
  max-width: 1000px;
  height: 0.7px;
  position: absolute;
  top: 4.2rem;
  right: 0;
  background-color: $maze-mintgreen;
}

.nav-link {
  color: $maze-mintgreen !important;
}

.nav-link.active {
  font-weight: normal;
  color: $maze-darkgreen !important;
}

.nav-link:hover {
  color: $maze-darkgreen !important;
}

.navbarLogo {
  height: 4rem;
}

.searchForm {
  display: flex;
  align-items: center;
  color: $maze-mintgreen !important;
  input {
    background-color: $maze-darkgreen-bg;
    border: 1px solid $maze-mintgreen;
    color: $maze-mintgreen;
  }
  input::placeholder {
    color: $maze-mintgreen;
  }
  input:focus {
    background-color: $maze-mintgreen;
    color: $maze-dark;
    border: none;
  }
  .bi {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
