.profileContainer {
  line-height: normal;
  .profilehero {
    max-width: 1000px;
  }
  .firstRow {
    height: 8rem;
    max-height: 9rem;
    margin-bottom: 2rem;
  }
  img.profilePic {
    height: 8rem;
    max-height: 9rem;
    aspect-ratio: 1/1 !important;
    border-radius: 0.2rem;
    border: 1px solid $maze-darkgreen;
    &:hover {
      cursor: pointer;
    }
  }
  .firstRow > col {
    height: 100%;
    .head {
      height: 100%;
      padding-bottom: 0;
    }
    .stagename {
      font-size: 36px;
      font-weight: 700 !important;
      margin-bottom: 0;
    }
    .username.mazelink {
      color: $maze-mintgreen !important;
    }
    .professions {
      margin-bottom: 0.2rem !important;
    }
  }
  .followBtn {
    display: inline;
  }
  .analogic {
    line-height: normal;
    font-size: 12px;

    span {
      width: fit-content;
      margin: 0;
    }
    .mail {
      margin-bottom: 0;
    }
  }

  .skills {
    font-size: 14px;
  }
}

.collectionsContainer {
  .cardImage {
    border: 1px solid $maze-mintgreen;
    min-width: 15rem;
    width: auto;
    max-width: 18rem;
    position: relative;
    padding: 0 !important;
    aspect-ratio: 1/1 !important;
    overflow: hidden;
    margin-bottom: 2rem;
    img {
      width: 100%;
      height: 100%;
    }
    .cardText {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 0%;
      background-color: transparentize($maze-dark, 0.1);
      transition: height 0.7s ease-out;
    }
    &:hover {
      .cardText {
        height: 100%;
      }
    }
  }
}
