.green {
  color: $maze-darkgreen !important;
}
.mint {
  color: $maze-mintgreen !important;
}
.dark {
  color: $maze-dark !important;
}
.light {
  color: $maze-light !important;
}
.greenBg {
  background-color: $maze-darkgreen !important;
}
.mintBg {
  background-color: $maze-mintgreen !important;
}
.darkBg {
  background-color: $maze-dark !important;
}
.lightBg {
  background-color: $maze-light !important;
}
.greenBgTransp {
  background-color: $maze-darkgreen-bg !important;
}
