.mazeGreen {
  color: $maze-darkgreen !important;
}
.mazeMint {
  color: $maze-mintgreen !important;
}
.mazeDark {
  color: $maze-dark !important;
}
.mazeLight {
  color: $maze-light !important;
}
.mazeGreenBg {
  background-color: $maze-darkgreen !important;
}
.mazeMintBg {
  background-color: $maze-mintgreen !important;
}
.mazeDarkBg {
  background-color: $maze-dark !important;
}
.mazeLightBg {
  background-color: $maze-light !important;
}
.mazeGreenBgTransp {
  background-color: $maze-darkgreen-bg !important;
}
