@mixin myLink {
  text-decoration: none !important;
  &:hover {
    cursor: pointer !important;
    text-decoration: underline !important;
  }
}

@mixin myBtn($variant) {
  padding: 3px 10px !important;
  margin: 5px !important;
  font-weight: 600 !important;
  border: none !important;
  @if ($variant == "light") {
    color: $maze-darkgreen !important;
    background-color: $maze-light !important;
  }
  @if ($variant == "dark") {
    color: $maze-mintgreen !important;
    background-color: $maze-dark !important;
  }
  @if ($variant == "mint") {
    color: $maze-dark !important;
    background-color: $maze-mintgreen !important;
  }
  @if ($variant == "green") {
    color: $maze-light !important;
    background-color: $maze-darkgreen !important;
  }
  @if ($variant == "trans") {
    color: $maze-mintgreen !important;
    border: 1px solid $maze-mintgreen !important;
  }
  @if ($variant == "darktrans") {
    color: $maze-dark !important;
    border: 1px solid $maze-dark !important;
  }
  &:hover {
    cursor: pointer;
    @if ($variant == "light") {
      color: $maze-mintgreen !important;
      background-color: $maze-dark !important;
    }
    @if ($variant == "dark") {
      color: $maze-darkgreen !important;
      background-color: $maze-light !important;
    }
    @if ($variant == "mint") {
      color: $maze-light !important;
      background-color: $maze-darkgreen !important;
    }
    @if ($variant == "green") {
      color: $maze-dark !important;
      background-color: $maze-mintgreen !important;
    }
    @if ($variant == "trans") {
      color: $maze-light !important;
      border: 1px solid $maze-light !important;
    }
    @if ($variant == "darktrans") {
      color: $maze-darkgreen !important;
      border: 1px solid $maze-darkgreen !important;
    }
  }
}

@mixin centeringFlex {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

@mixin fullDimensions {
  height: 100% !important;
  width: 100% !important;
}

@mixin transition($transition) {
  -moz-transition: $transition ease-in-out;
  -o-transition: $transition ease-in-out;
  -webkit-transition: $transition ease-in-out;
  -ms-transition: $transition ease-in-out;
  transition: $transition ease-in-out;
}
