$maze-dark: #1c2627;
$maze-darkgreen: #04b597;
$maze-darkgreen-bg: #04b5986f;
$maze-mintgreen: #8cf5c9;
$maze-light: #faf0f0;

// Typography

$title-font: "Montserrat", sans-serif;
$primary-font: "Montserrat", sans-serif;
$secondary-font: "Montserrat", sans-serif;
$thin: 100;
$light: 300;
$regular: 400;
$medium: 600;
$bold: 900;
$lsp: 0.01rem;
$lsp-2x: 0.02rem;
$lsp-big: 0.05rem;
$lsp-extra: 0.15rem;

// Extras

$input-height: 52px;
$border-radius: 0;
$border-radius-xs: 0.1875rem;
$border-radius-sm: 0.125rem;
$border-radius-lg: 0.25rem;
$border-radius-xl: 0.5rem;
